# Importing Data
* https://www.kaggle.com/uciml/iris
* http://archive.ics.uci.edu/ml/datasets/Iris

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Data/Iris.csv")

In [3]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [4]:
df.set_index("Id")

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
Id
1              5.1           3.5            1.4           0.2     Iris-setosa
2              4.9           3.0            1.4           0.2     Iris-setosa
3              4.7           3.2            1.3           0.2     Iris-setosa
4              4.6           3.1            1.5           0.2     Iris-setosa
5              5.0           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
146            6.7           3.0            5.2           2.3  Iris-virginica
147            6.3           2.5            5.0           1.9  Iris-virginica
148            6.5           3.0            5.2           2.0  Iris-virginica
149            6.2           3.4            5.4           2.3  Iris-virginica
150            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [5]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [6]:
df.set_index("Id", inplace=True)
df.head()

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
Id
1             5.1           3.5            1.4           0.2  Iris-setosa
2             4.9           3.0            1.4           0.2  Iris-setosa
3             4.7           3.2            1.3           0.2  Iris-setosa
4             4.6           3.1            1.5           0.2  Iris-setosa
5             5.0           3.6            1.4           0.2  Iris-setosa

In [7]:
df = pd.read_csv("Data/Iris.csv", index_col=0)
df.head()

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
Id
1             5.1           3.5            1.4           0.2  Iris-setosa
2             4.9           3.0            1.4           0.2  Iris-setosa
3             4.7           3.2            1.3           0.2  Iris-setosa
4             4.6           3.1            1.5           0.2  Iris-setosa
5             5.0           3.6            1.4           0.2  Iris-setosa

In [8]:
df = pd.read_excel("Data/Iris.xlsx", index_col=0)
df.head()

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
Id
1             5.1           3.5            1.4           0.2  Iris-setosa
2             4.9           3.0            1.4           0.2  Iris-setosa
3             4.7           3.2            1.3           0.2  Iris-setosa
4             4.6           3.1            1.5           0.2  Iris-setosa
5             5.0           3.6            1.4           0.2  Iris-setosa

In [9]:
pd.read_csv("Data/Iris_tab.csv",sep="\t",index_col=0) #tab sep CSV

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
Id
1              5.1           3.5            1.4           0.2     Iris-setosa
2              4.9           3.0            1.4           0.2     Iris-setosa
3              4.7           3.2            1.3           0.2     Iris-setosa
4              4.6           3.1            1.5           0.2     Iris-setosa
5              5.0           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
146            6.7           3.0            5.2           2.3  Iris-virginica
147            6.3           2.5            5.0           1.9  Iris-virginica
148            6.5           3.0            5.2           2.0  Iris-virginica
149            6.2           3.4            5.4           2.3  Iris-virginica
150            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [10]:
pd.read_table("Data/uci/iris.data",
              sep=",",
              header=None,
              names=['SepalLength Cm','SepalWidthCm','PetalLengthCm','PetalWidthCm']
             ) #Same as read_csv, just with different defaults

     SepalLength Cm  SepalWidthCm  PetalLengthCm    PetalWidthCm
5.1             3.5           1.4            0.2     Iris-setosa
4.9             3.0           1.4            0.2     Iris-setosa
4.7             3.2           1.3            0.2     Iris-setosa
4.6             3.1           1.5            0.2     Iris-setosa
5.0             3.6           1.4            0.2     Iris-setosa
..              ...           ...            ...             ...
6.7             3.0           5.2            2.3  Iris-virginica
6.3             2.5           5.0            1.9  Iris-virginica
6.5             3.0           5.2            2.0  Iris-virginica
6.2             3.4           5.4            2.3  Iris-virginica
5.9             3.0           5.1            1.8  Iris-virginica

[150 rows x 4 columns]

In [18]:
pd.read_clipboard(sep=",",index_col=0) #output will depend on what you have on clipboard

               sepal_width  petal_length  petal_width           class
sepal_length
5.1                    3.5           1.4          0.2     Iris-setosa
4.9                    3.0           1.4          0.2     Iris-setosa
4.7                    3.2           1.3          0.2     Iris-setosa
4.6                    3.1           1.5          0.2     Iris-setosa
5.0                    3.6           1.4          0.2     Iris-setosa
...                    ...           ...          ...             ...
6.7                    3.0           5.2          2.3  Iris-virginica
6.3                    2.5           5.0          1.9  Iris-virginica
6.5                    3.0           5.2          2.0  Iris-virginica
6.2                    3.4           5.4          2.3  Iris-virginica
5.9                    3.0           5.1          1.8  Iris-virginica

[150 rows x 4 columns]

In [12]:
dfs = pd.read_html('https://en.wikipedia.org/wiki/Timeline_of_programming_languages')

In [13]:
type(dfs)

list

In [14]:
dfs[10]

,Year,Name,"Chief developer, company",Predecessor(s)
0,2000,Join Java,G Stewart von Itzstein,Java
1,2000,DarkBasic,The Game Creators,NaN
2,2000,C#,"Anders Hejlsberg, Microsoft (ECMA)","C, C++, Java, Delphi, Modula-2"
3,2001,Joy,Manfred von Thun,"FP, Forth"
4,2001,AspectJ,"Gregor Kiczales, Xerox PARC","Java, Common Lisp"
5,2001,D,"Walter Bright, Digital Mars","C, C++, C#, Java"
6,2001,Processing,Casey Reas and Benjamin Fry,"Java, C, C++[10]"
7,2001,Visual Basic .NET,Microsoft,Visual Basic
8,2001,GDScript (GDS),"Juan Linietsky, Ariel Manzur (OKAM Studio)",Godot
9,2001,Shakespeare Programming Language,Jon Ã…slund and Karl HasselstrÃ¶m.,NaN
10,2002,Io,Steve Dekorte,"Self, NewtonScript, Lua"
11,2002,Gosu,Guidewire Software,GScript
12,2002,Scratch,"Mitchel Resnick, John Maloney, Natalie Rusk, E...","Logo, Smalltalk, Squeak, E-Toys, HyperCard, Ag..."
13,2003,Nemerle,University of WrocÅ‚aw,"C#, ML, MetaHaskell"
14,2003,Factor,Slava Pestov,"Joy, Forth, Lisp"
15,2003,Scala,Martin Odersky,"Smalltalk, Java, Haskell, Standard ML, OCaml"
16,2003,C++03,C++ ISO/IEC 14882:2003,"C++, Standard C, C"
17,2003,Squirrel,Alberto Demichelis,Lua
18,2003,Boo,Rodrigo B. de Oliveira,"Python, C#"
19,2004,Subtext,Jonathan Edwards,none (unique language)
20,2004,Alma-0,"Krzysztof Apt, Centrum Wiskunde & Informatica",none (unique language)
21,2004,FreeBASIC,Andre Victor,QBasic
22,2004,Groovy,James Strachan,Java
23,2004,Little b,"Aneil Mallavarapu, Harvard Medical School, Dep...",Lisp
24,2005,Fantom,"Brian Frank, Andy Frank","C#, Scala, Ruby, Erlang"
25,2005,F#,"Don Syme, Microsoft Research","OCaml, C#, Haskell"
26,2005,Haxe,Nicolas Cannasse,"ActionScript, OCaml, Java"
27,2005,Oxygene,RemObjects Software,"Object Pascal, C#"
28,2005,PWCT,Mahmoud Samir Fayed,none (unique language)
29,2005,Seed7,Thomas Mertes,none (unique language)
30,2006,Cobra,ChuckEsterbrook,"Python, C#, Eiffel, Objective-C"
31,2006,Windows PowerShell,Microsoft,"C#, ksh, Perl, CL, DCL, SQL"
32,2006,OptimJ,Ateji,Java
33,2006,Fortress,Guy Steele,"Scala, ML, Haskell"
34,2006,Vala,GNOME,C#
35,2007,Ada 2005,Ada Rapporteur Group,Ada 95
36,2007,Agda,Ulf Norell,"Coq, Epigram, Haskell"
37,2007,QB64,"Galleon, QB64Team",QBasic
38,2007,Clojure,Rich Hickey,"Lisp, ML, Haskell, Erlang"
39,2007,LOLCODE,Adam Lindsay,none (unique language)
40,2007,Oberon-07,Wirth,Oberon
41,2007,Swift (parallel scripting language),"University of Chicago, Argonne National Labora...",NaN
42,2008,Nim,Andreas Rumpf,"Python, Lisp, Object Pascal"
43,2008,Genie,Jamie McCracken,"Python, Boo, D, Object Pascal"
44,2008,Pure,Albert GrÃ¤f,Q
45,2009,Chapel,"Brad Chamberlain, Cray Inc.","HPF, ZPL"
46,2009,Go,Google,"C, Oberon, Limbo, Smalltalk"
47,2009,CoffeeScript,Jeremy Ashkenas,"JavaScript, Ruby, Python, Haskell"
48,2009,Idris,Edwin Brady,"Haskell, Agda, Coq"
49,2009,Parasail,"S. Tucker Taft, AdaCore","Modula, Ada, Pascal, ML"
50,2009,Whiley,David J. Pearce,"Java, C, Python"
51,2009,Dafny,K. Rustan M. Leino,"Java, Spec#"
52,Year,Name,"Chief developer, company",Predecessor(s)

In [15]:
import sqlite3

In [16]:
con = sqlite3.connect("Data/database.sqlite")
df = pd.read_sql_query('select * from iris',con)
con.close()

In [17]:
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica